@font-face {
    font-family: 'NASA21';
    src: url('/static/fonts/NASA21.ttf') format('truetype');
}

.content-container{
    /* for constant sizing */
   min-height: 100vh; 
}


body {
    font-family: 'NASA21';
}

.header{
    text-align: center;
    font-family: 'NASA21';
    font-size: 45px;
}


.menu{
    /* horizontal menu, one line */
    display: flex;
    justify-content: center;
    /* space between menu items */
    gap: 20px;
    font-size: 10px;
    /* color: #b8b8b8; */
    color: white;
    cursor: pointer;
}

.menu h3{
    transition: color 4.0s;
}

/* hover */
.menu h3:hover{
    transition: color 0.8s;
    color: rgb(2, 2, 2);
}


/* capsule page */
.capsule{
    background-color: #b1b1b10c;
    padding: 60px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    font-size: 18px;

    position: relative;
    left: -100%;
    transition: left 4s ease;
    
    /* grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.capsule .button-container{
    text-align: center;
    display: grid;
    /* space between buttons */
    grid-gap: 20px;
}

.canvas-container{
    /* center */
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    transition: visibility 4s, opacity 4s ease-in-out;
}


/* entry page */
.entry{
    padding: 60px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    border-radius: 15px;
    font-size: 18px;
    justify-content: center;
    
    display: grid;
    /* vertical */
    grid-template-columns: 1fr;
    gap: 20px;
}

.file-upload{
    background-color: #b1b1b10c;
    padding: 60px;
    border-radius: 15px;
    display: grid;
    /* vertical */
    grid-template-columns: 1fr;
    gap: 20px;
}

.file-upload h2{
    margin-left: -20px;
}

/* file upload */
.file-upload input[type="file"]{
    font-family: 'NASA21';
}

.file-upload button{
    width: 60%;
    height: 40px;
}



.note{
    background-color: #b1b1b10c;
    padding: 40px;
    border-radius: 15px;
    text-align: left;
    font-size: 18px;
    display: grid;
    /* vertical */
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 100px;
}

.note .note-title{
    font-size: 25px;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* custom border */
    border: 1px solid #9595953e;
    border-radius: 5px;
    font-family: 'NASA21';
}

.note .note-text{
    height: 150%;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #b1b1b10c;
    padding: 10px;
    font-size: 18px;
    /* turn off resizing */
    resize: none;
}

.note button{
    width: 40px;
    height: 40px;
}

.note .button-container{
    text-align: center;
    display: flex;
    grid-gap: 20px;
}


.unlock{
    padding: 60px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    border-radius: 15px;
    font-size: 18px;
    justify-content: center;
    
    display: grid;
    /* vertical */
    grid-template-columns: 1fr;
    gap: 20px;
}


/* base style for buttons */
button{
    font-family: 'NASA21';
    border-radius: 5px;
    background-color: #51515111;
    border: 2px solid #b1b1b10c;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}

button:hover{
    background-color: #b1b1b10c;
    color: black;
}


/* mobile */
@media only screen and (max-width: 600px) {
    .header{
        font-size: 30px;
    }
    .capsule, .entry{
        padding: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
    }
}