@font-face {
    font-family: 'NASA21';
    src: url('/static/fonts/NASA21.ttf') format('truetype');
}

body {
    font-family: 'NASA21';
}

.header{
    text-align: center;
    font-family: 'NASA21';
    font-size: 45px;
}


.menu{
    /* horizontal menu, one line */
    display: flex;
    justify-content: center;
    /* space between menu items */
    gap: 20px;
    font-size: 10px;
    /* color: #b8b8b8; */
    color: white;
    cursor: pointer;
}

.menu h3{
    transition: color 4.0s;
}

/* hover */
.menu h3:hover{
    transition: color 0.8s;
    color: rgb(2, 2, 2);
}


.content-container{
    /* for constant sizing */
   min-height: 100vh; 
}


.capsule{
    background-color: #b1b1b10c;
    text-align: left;
    padding: 60px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    font-size: 18px;

    position: relative;
    left: -100%;
    transition: left 4s ease;
    

    /* grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.capsule .button-container{
    text-align: center;
    display: grid;
    /* space between buttons */
    grid-gap: 20px;
}


canvas{
    border-radius: 15px;
    border: 2px solid #b1b1b10c;
    background-color: #b1b1b10c;
    width: 200%;
}


.entry{
    background-color: #b1b1b10c;
    text-align: left;
    padding: 60px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    font-size: 18px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 20px;
}

.entry textarea{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid #b1b1b10c;
    padding: 10px;
    font-size: 18px;
    /* turn off resizing */
    resize: none;
    font-family: 'NASA21';
}

.entry button{
    width: 40px;
    height: 40px;
}

.entry .button-container{
    text-align: center;
    display: flex;
    grid-gap: 20px;
}



button{
    font-family: 'NASA21';
    font-size: 13px;
    border-radius: 5px;
    background-color: #51515111;
    border: 2px solid #b1b1b10c;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}

button:hover{
    background-color: #b1b1b10c;
    color: black;
}


/* mobile */
@media only screen and (max-width: 600px) {
    .header{
        font-size: 30px;
    }
    .capsule{
        padding: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
    }
    .entry{
        padding: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .entry textarea{
        width: 100%;
        height: 400px;
    }
}