@font-face {
    font-family: 'NASA21';
    src: url('/static/fonts/NASA21.ttf') format('truetype');
}

body {
    font-family: 'NASA21';
}

.header{
    text-align: center;
    font-family: 'NASA21';
    font-size: 45px;
}


.menu{
    /* horizontal menu, one line */
    display: flex;
    justify-content: center;
    /* space between menu items */
    gap: 20px;
    font-size: 10px;
    /* color: #b8b8b8; */
    color: white;
    cursor: pointer;
}

.menu h3{
    transition: color 5.0s;
}

/* hover */
.menu h3:hover{
    transition: color 0.5s;
    color: rgb(2, 2, 2);
}

/* unhover */
.menu h3:not(:hover){
    transition: color 2.0s;
}

.content-container{
    /* for constant sizing */
   min-height: 100vh; 

}


.capsule{
    background-color: #b1b1b10c;
    text-align: left;
    padding: 60px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    font-size: 18px;

    position: relative;
    left: -100%;
    transition: left 4s ease;
    

    /* grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.button-container{
    text-align: center;
    display: grid;
    /* space between buttons */
    grid-gap: 20px;
}

button{
    font-family: 'NASA21';
    font-size: 13px;
    border-radius: 5px;
    background-color: #51515111;
    border: 2px solid #b1b1b10c;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}

button:hover{
    background-color: #b1b1b10c;
    color: black;
}


/* mobile */
@media only screen and (max-width: 600px) {
    .header{
        font-size: 30px;
    }
    .toolbar{
        padding: 50px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 15px;
    }

    .button-container{
        grid-template-columns: 1fr;
    }
}