<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIME CAPSULE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Title -->
    <div class="header">
        <h1>TIME CAPSULE</h1>
        <h2 id="id-field">{{ capsule_id }}</h2>
    </div>

    <!-- Menu -->
    <div class="menu">
        <h3 class="menu-item" id="menu-capsule">CAPSULE</h3>
        <h3 class="menu-item" id="menu-entry">ENTRY</h3>
        <h3 class="menu-item" id="menu-schedule">SCHEDULE</h3>
        <h3 class="menu-item" id="menu-settings">SETTINGS</h3>
    </div>

    <!-- Content -->
    <div id="content-container" class="content-container">

        <!-- Capsule page -->
        <div id="capsule" class="capsule">
            <!-- Time and Date display -->
            <div id="time-date">
                <p><span id="current-time">{{ current_time }}</span></p>
                <p><span id="current-date">{{ current_date }}</span></p>
            </div>

            <!-- Buttons -->
            <div class="button-container">
                <button id="power-button">Ø</button>
                <button id="reboot-button">↻</button>
            </div>
        </div>


        <!-- Entry page -->
        <div id="entry" style="left: 0;" class="entry">

            <!-- File upload -->
            <div id="file-upload" class="file-upload">
                <h2>UPLOAD FILE</h2>
                <input id="file-input" type="file" accept="image/*, video/*, audio/*">
                <button id="upload-button">UPLOAD</button>
            </div>


            <!-- Entry list -->
            <div id="note" style="" class="note">
                <h2>NOTE</h2>
                <!-- Note title entry -->
                <input id="note-title" class="note-title" type="text" placeholder="Title">
                <!-- Buttons -->
                <div class="button-container">
                    <button id="saveentry-button">+</button>
                    <button id="deleteentry-button">x</button>
                </div>
                <!-- text field -->
                <textarea id="note-text" class="note-text" placeholder="..."></textarea>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
