<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIME CAPSULE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="{{ url_for('static', filename='sketch.js') }}"></script> <!-- canvas script -->
</head>
<body>
    <!-- Title -->
    <div class="header">
        <h1>TIME CAPSULE</h1>
        <h2 id="id-field">{{ capsule_id }}</h2>
    </div>

    <!-- Menu -->
    <div class="menu">
        <h3 class="menu-item" id="menu-capsule">CAPSULE</h3>
        <h3 class="menu-item" id="menu-entry">ENTRY</h3>
        <h3 class="menu-item" id="menu-unlock">UNLOCK</h3>
    </div>

    <!-- Content -->
    <div id="content-container" class="content-container">

        <!-- Capsule page -->
        <div id="capsule" class="capsule">
            <!-- Time and Date display -->
            <div id="time-date">
                <p><span id="current-time">{{ current_time }}</span></p>
                <p><span id="current-date">{{ current_date }}</span></p>
            </div>

            <!-- Buttons -->
            <div class="button-container">
                <button id="power-button">Ø</button>
                <button id="reboot-button">↻</button>
            </div>
            
        </div>

         <!-- Canvas for interactive visualization -->
         <div id="canvas-container" class="canvas-container">
            <!-- The canvas will be injected here by p5.js -->
        </div>



        <!-- Entry page -->
        <div id="entry" style="left: 0;" class="entry">

            <!-- File upload -->
            <div id="file-upload" class="file-upload">
                <h2>UPLOAD</h2>
                <input id="file-upload-input" type="file" accept=".jpg, .jpeg, .png, .gif, .bmp, .tiff, 
                .mp4, .mov, .m4v, .mkv, .avi, .mp3, .wav, .m4a, .aac, .flac, .ogg, .pdf, .doc, .txt">
                <button id="submit-file">UPLOAD</button>
            </div>


            <!-- Entry list -->
            <div id="note" style="" class="note">
                <h2>NOTE</h2>
                <!-- Note title entry -->
                <input id="note-title" class="note-title" type="text" placeholder="untitled">
                <!-- Buttons -->
                <div class="button-container">
                    <button id="saveentry-button">+</button>
                    <button id="deleteentry-button">x</button>
                </div>
                <!-- text field -->
                <textarea id="note-text" class="note-text" placeholder="..."></textarea>
            </div>
        </div>
   

        <!-- Unlock page -->
        <div id="unlock" class="unlock" style="left: 0;">
            <h2>UNLOCK</h2>
            <p>Enter the capsule id to confirm the unlock. Once unlocked, the data can be downloaded, and the device can be reset.</p>
            <p>NOTE* Once unlocked, no more data can be added!</p>
            <input id="unlock-input" type="text" placeholder="enter capsule id">
            <button id="unlock-button">UNLOCK</button>
            <button id="download-button" style="display: none;">DOWNLOAD</button>
        </div>
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
